*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    /* padding: 20px 0; */
 background-color:rgb(78, 78, 95);
}
nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 120px;
 background-color:rgb(78, 78, 95)  ;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}
.logo img{
    width: 100%;
}
.menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
}
.menu ul{
    display: flex;
    width: 100%;
    height: 100%;
/* justify-content: center; */
    /* align-items: center; */
}
.menu li{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: lighter;
    list-style: none;
    font-style: normal;
  transition: all 500ms;
    
}
.menu a{
    text-decoration: none;
    padding: 30px 0;
    color: white;

}
.menu li:hover {
    background-color: gray;
    cursor: pointer;
    
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #2e3341 ;
  

}
.c{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color:#ff1418;
    color: white;
}
.c h1{
    font-style: normal;
    font-weight: 600;
}
.c2{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.map{
    display: flex;
    width: 45%;
    height: 500px;
    background-image: url(img-contact/carte.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inf{
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    color: white;
    font-size: normal;
    font-weight: lighter;
    
}
.company {
    padding-top: 30px;
    line-height: 25px;
}
.messagerie, .wotel{
    padding-top: 45px;
    line-height: 25px;

}
.c3{
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    color:rgb(219, 219, 219);
    border-top: 2px solid white;
    padding: 0 40px;
}
.c3 p{
    line-height: 25px;

}

.inf p{
    color: rgb(219, 219, 219);
}


/*Mohamed Sarifou Diallo CSS*/

#founaghe{
    display: flex;
    padding: 50px 0px 75px 0px;
    margin-left: 10%;
}

#founa1{
    width: 600px;
}
#founa1 h2{
    font-weight: bolder;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input::placeholder{
    text-indent: 5px;
}
.mail{
    padding: 20px 0px 20px 0px;
    background-color: rgb(192, 200, 202);
    border-style: none;
    width: 49%;
}
.name{
    padding: 20px 0px 20px 0px;
    background-color: rgb(192, 200, 202);
    border-style: none;
    width: 48%;
    margin-left: 6px;
}
.subject{
    padding: 20px 0px 20px 0px;
    background-color: rgb(192, 200, 202);
    width: 99%;
    border-style: none;
}
.message{
    padding: 50px 0px 50px 0px;
    background-color: rgb(192, 200, 202);
    width: 99%;
    border-style: none;
}
.btn{
    width: 99%;
    padding: 10px;
    border-style: none;
    background-color: #ff1418;
    color: white;
    cursor: pointer;
}

#founa2{
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#founa2 p{
    font-size: medium;
    padding-top: 10px;
}
#founa2 h2{
    font-weight: bolder;
    font-size:medium;
}
span{
    color: rgb(177, 175, 175);
}



  
/* Mama Style */
.contact{
    width: 100%;
    height: 300px;
    background-color: rgb(78, 78, 95);
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
}
.text{
    width: 85%;  
}
#h1contact{
    font-size: 45px;
    color: white;
    margin-bottom: 25px;
}
#pcontact{
    font-size: 25px;
    color: rgb(177, 175, 175);
    line-height: 40px;
}
.mama{
    display: flex;
    width: 85%;
    justify-content: space-around; 
 }
.para{
    width: 32%;
    height: 150px ;
    border: 1px solid black;
    font-size: 20px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /* Mama Style */
 
 @media all and (max-width: 1024px)
{
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 200px;
        /* padding: 20px 0; */
     background-color:rgb(78, 78, 95);
    }
    nav{
        display: flex;
        justify-content: space-around;
        position: fixed;
        align-items: center;
        width: 100%;
        height: 30%;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    
    }
    .logo img{
        width: 100%;
    }
    .menu{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* align-items: center; */
        color: white;
     
    
     
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        height: 100%;
    }
    .menu li{
        display: flex;
        width: 50%;
        height: 20px;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        font-weight: lighter;
        list-style: none;
        font-style: normal;
      transition: all 500ms;
      padding-bottom: 18px;
      padding-top: 18px;
        
    }
    .menu a{
        text-decoration: none;
        padding:  5px ;
        color: white;
    
    }
    .menu li a :hover{
        background-color: gray;
        cursor: pointer;
        
    }  
    .mama{
        display: flex;
        flex-direction: column;
        width: 85%;
        justify-content: space-around;
        align-items: center; 
     }
    .para{
        width: 90%;
        height: 150px ;
        border: 1px solid black;
        font-size: 20px;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
     } 
     .mail{
        padding: 20px 0px 20px 0px;
        background-color: rgb(192, 200, 202);
        border-style: none;
        width: 49%;
    }
    .name{
        padding: 20px 0px 20px 0px;
        background-color: rgb(192, 200, 202);
        border-style: none;
        width: 48%;
        margin-left: 6px;
    }
    #founaghe{
        display: flex;
        flex-direction: column;
        padding: 50px 0px 75px 0px;
        
    }

}
@media all and (max-width: 655px){
    #founa1{
        width: 100%;
    }
}